html{
  
  
  background: radial-gradient(circle,	#003377,#007799);
  color:white;
  font-family:"Microsoft JhengHei";
  }
body{
  display:flex;
  justify-content:center;
}
#container{
 
  width:1000px;

position:relative;}
#header{
  height:72px;
  text-align:center}
#content{
  padding:10px;
}
#main{width:600px;
float:right;}
img{float:right;
padding-right:50px;}
#mainImg{
  width:600px;
  height:240px;
}

progress{margin-left:-50px}
#nav{
  
  float:left;
}
#buttons{
 margin:auto 100px;
font-size:30px;
 }
span{font-size:20px;}
a,a:visited { color:#d3d3d3; 
}
a:hover,a:focus,.active { 
  color:	#FFA488;
}
#playList{margin-top:0px;
}
#playList li{
  width:250px;
  margin-left:1px;
 height:30px;
  display: grid; 
 grid-gap: 0px;
  font-size:20px;
  color:white;
  padding-left:20px;
  border:4px hsla(214, 69.5%, 36%, 0.55) outset;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
#playList li:hover{
  background-color: hsla(214, 69.5%, 53%, 0.25);
}
audio {
display:none;
}
a{color:#8B4513;
  text-decoration:none;
}
#volumeslider{
  position:absolute;
right:-85px;
top:188px;}


.slider {

  
    -webkit-appearance: none;
    width:24%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: radial-gradient(circle,	#880000,#FFB7DD);;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left,#880000,#007799);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
input[type="range"] {
    position:absolute;
    -webkit-transform: rotate(-90deg);
    top:300px;
   }
#source{
  font-size:18px;
}
